body {
  background-color: coral;
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin: auto;
}
h1 {
  text-align: center;
}
.wrap-play-button {
  text-align: center;
}
#play {
  margin: 0 auto;
  text-align: center;
}
#roll-info {
  font-size: 20px;
  font-weight: bold;
}
#game-over {
  font-size: 28px;
  color: white;
}
